body
{
text-align:center;
background-color:aqua;
margin-top:40;
}
h1
{
text-align:center;
background-color:white;
margin-top:20;
display:inline;
}
a
{
text-align:center;
margin-top:40px;
padding-right:20px;
padding-left:20px;
padding-top:20px;
padding-bottom:20px;
font-size:16pt;
font-face:arial;
color:white;
}
p
{
font-size:18pt;
font-face:Times New Roman;
color:blue;
text-align:center;
magin-left:50px;
magin-right:50px;
magin-bottom:50px;
}